// Font family
$primary-font: "Trade Gothic", Sans-serif;
$secondary-font: "AvantGarde Bold", Sans-serif;
$header-font: monospace;

// Color
$service-bg: #f3f3f3;
$white: #ffffff;
$black: #000000;
$fresh-red: #e9204f;