@import '../../../public/scss/variable.scss';
@import '../../../public/scss/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,275;1,400;1,700&family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

.Story {
    margin: 10rem 0 20rem 0;

    .sw-label-wrapper {
        margin-top: 10rem;
        display: flex;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        
        .sw-main-label {
            position: relative;
            font-family: $secondary-font;
            font-size: 4rem;
            font-weight: 700;
            line-height: 4rem;
            color: #000000;
            letter-spacing: -.1rem;
            margin-bottom: .5rem;

            &:before {
                position: absolute;
                content: "";
                height: 3px;
                width: 25rem;
                top: 25px;
                left: -300px;
                background: $fresh-red;
            }

            &:after {
                position: absolute;
                content: "";
                height: 3px;
                width: 25rem;
                top: 25px;
                right: -300px;
                background: $fresh-red;
            }
        }

        .sw-sub-label {
            font-family: $primary-font;
            color: $fresh-red;
            font-size: 1.7rem;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 2rem;
            letter-spacing: -.1rem;
            margin-bottom: 8rem;
        }
    }

    .sw-story-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .sw-bg-container {
            width: 95%;
            margin-bottom: 8rem;
            --borderWidth: .5rem;
            background: #1D1F20;
            position: relative;
            border-radius: var(--borderWidth);
            &:after {
                content: '';
                position: absolute;
                top: calc(-1 * var(--borderWidth));
                left: calc(-1 * var(--borderWidth));
                height: calc(100% + var(--borderWidth) * 2);
                width: calc(100% + var(--borderWidth) * 2);
                background: linear-gradient(#5073b8, #1098ad, #07b39b, #6fba82);
                border-radius: calc(2 * var(--borderWidth));
                z-index: -1;
                background-size: 300% 300%;
              }
              
            .sw-team-img {
                display: flex;
                align-items: center;
                margin: auto;
                padding: 30% 2em;
                box-sizing: border-box;
            }
        }

        .sw-story-quotes {
            
            display: flex;
            padding: 0 4rem;
            height: 100%;
            flex-direction: column;
            width: 100%;
            align-self: center;
            justify-self: center;

            .sw-read-more-btn {
                font-family: 'Josefin Sans', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35%;
                height: 4.5rem;
                border: 1px solid #2dd3aa;
                margin: 4rem auto;
                font-size: 1.8rem;
                align-self: flex-start;
                position: relative;
                padding: 15px 30px;
                font-weight: 500;
                line-height: 16px;
                border-radius: 50px;
                min-width: 170px;
                text-align: center;
                border: 2px solid #7ad4cc;
                cursor: pointer;

                &:hover {
                    background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
                    border: none;
                }
            }

            .quotes {
                position: relative;
                font-size: 1.8rem;
                color: #000000;
                font-weight: 400;
                font-family: 'Josefin Sans', sans-serif;

                .sw-quotes-logo-top {
                    position: absolute;
                    top: -2rem;
                    left: -3.5rem;
                }

                .sw-quotes-logo-bttom {
                    position: absolute;
                    bottom: -1rem;
                    right: -1.1rem;
                }
            }
        }
    }
}

@include breakpoints (large) {
    .Story {
        .sw-story-container {
            justify-content: space-around;

            .sw-bg-container {
                width: 45%;
            }
    
            .sw-story-quotes {
                width: 45%;
            }
        }
    }
}