@import '../../../public/scss/variable.scss';
@import '../../../public/scss/mixins.scss';

.ClientList {
    position: relative;
    margin-top: 5rem;
    width: 92%;
    min-height: 50rem;
    margin: 0 auto;
    padding-top: 14rem;
    
    .sw-client-list-label {
        font-family: $secondary-font;
        font-size: 4rem;
        font-weight: 700;
        line-height: 4rem;
        color: #000000;
        letter-spacing: -.1rem;
        margin-bottom: .5rem;
    }
    
    .sw-client-list-sub-label {
        font-family: $primary-font;
        color: $fresh-red;
        font-size: 1.7rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 2rem;
        letter-spacing: -.1rem;
        margin-bottom: 8rem;
    }
    
    .sw-client-list {
        border-top: 1px solid $fresh-red;
        border-bottom: 1px solid $fresh-red;
        margin: 5rem auto;
        width: 90%;
        // border-left: 2rem solid $fresh-red;
        // border-right: 2rem solid $fresh-red;

        .sw-client-logo {
            
        }
    }
}