@import '../../../public/scss/variable.scss';
@import '../../../public/scss/mixins.scss';

.ClientList {
    color: $primary-color;
    font-family: $primary-font;
    position: relative;
    width: 100%;
    min-height: 50rem;
    padding: 3rem 0;
    
    .sw-client-list {
        margin: 3rem auto;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .sw-client-img-wrapper {
            width: calc(25% - 10px);
            height: auto;
            margin-bottom: 2rem;
            background-color: #f4f6f7;
            display: flex;
            justify-content: center;
            align-items: center;

            transition: all .3s linear;
            -moz-transition: all .3s linear;
            -webkit-transition: all .3s linear;

            &:hover {
                background-color: $white;
            }

            img {
                width: 90%;
                height: 90%;
                opacity: 0.9;
            }
        }
    }
}

// @include breakpoints (567px) {
//     .ClientList {
//         .sw-client-list {
//             .sw-client-img-wrapper {
//                 width: calc(33.333% - 10px);
//             }
//         }
//     }
// }

// @include breakpoints (639px) {
//     .ClientList {
//         .sw-client-list {
//             .sw-client-img-wrapper {
//                 width: calc(25% - 10px);
//             }
//         }
//     }
// }

// @include breakpoints (811px) {
//     .ClientList {
//         .sw-client-list {
//             .sw-client-img-wrapper {
//                 width: calc(20% - 10px);
//             }
//         }
//     }
// }


@include breakpoints (1199px) {
    .ClientList {
        padding: 10rem 0;
        .sw-client-list {
            width: 80%;
            .sw-client-img-wrapper {
                width: calc(12.5% - 10px);
            }
        }
        .sw-label-wrapper {
            .sw-divider {
                width: 10%;
            }
        }
    }
}

// @include breakpoints (1823px) {
//     .ClientList {
//         .sw-client-list {
//             .sw-client-img-wrapper {
//                 width: calc(12.5% - 2rem);
//             }
//         }
//     }
// }