@import '../../../public/scss/variable.scss';
@import '../../../public/scss/mixins.scss';

.ServicesList {
    color: $primary-color;
    position: relative;
    margin-top: 5rem;
    width: 95%;
    min-height: 50rem;
    margin: 0 auto;
    padding-top: 4rem;

    .sw-service-list-label-wrapper {
        .sw-service-list-label {
            font-family: $primary-font;
            font-size: 4rem;
            font-weight: 700;
            line-height: 4rem;
            letter-spacing: -.1rem;
            margin-bottom: .5rem;
        }
    
        .sw-service-list-sub-label {
            font-family: $primary-font;
            font-size: 1.7rem;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 2rem;
            letter-spacing: -.1rem;
    
            span {
                text-align: center;
                font-style: italic;
            }
        }
    }


    .service-wrapper {
        padding-top: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@include breakpoints (x-small) {
    .ServicesList {
        padding-top: 8rem;

        .sw-devider {
            display: none;
        }
    }
}

@include breakpoints (x-medium) {
    .ServicesList {
        padding-top: 12rem;
    }
}

@include breakpoints (x-large) {
    .ServicesList {
        padding-top: 14rem;
        
        .sw-service-list-label-wrapper {
            margin-bottom: 5rem;
        }

        .sw-devider {
            display: block;
        }
    }
}