@import '../../../public/scss/variable.scss';
@import '../../../public/scss/mixins.scss';

.ServicesList {
    color: $primary-color;
    position: relative;
    margin-top: 5rem;
    width: 95%;
    min-height: 50rem;
    margin: 0 auto;
    padding-top: 4rem;
    max-width: 1300px;

    .service-wrapper {
        padding-top: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@include breakpoints (x-small) {
    .ServicesList {
        padding-top: 8rem;

        .sw-devider {
            display: none;
        }
    }
}

@include breakpoints (x-medium) {
    .ServicesList {
        padding-top: 12rem;
    }
}

@include breakpoints (x-large) {
    .ServicesList {
        padding-top: 14rem;
        
        .sw-service-list-label-wrapper {
            margin-bottom: 5rem;
        }

        .sw-devider {
            display: block;
        }
    }
}

@include breakpoints (1199px) {
    .ServicesList {
        .sw-label-wrapper {
            .sw-divider {
                width: 10%;
            }
        }
    }
}