@import '../../../public/scss/variable.scss';
@import '../../../public/scss/mixins.scss';

.Member {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 40rem;
    margin-bottom: 3rem;
    color: $white;

    img {
        width: 100%;
        height: 100%;
    }


    .sw-advisor-overlay-content {
        text-align: center;
        background: #191919;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;

        .sw-member-social {
            padding-top: 1rem;
            position: relative;
            z-index: 0;
    
            a {
                width: 50px;
                height: 50px;
                display: inline-block;
                border-radius: 50%;
                background: #303030;
                color: #fff;
                padding-top: 13px;
                margin: 0 8px;
                position: relative;
                
                i {
                    background: transparent;
                    position: absolute;
                    top: -4px;
                    right: -4px;
                }
    
                &:hover {
                    background: -webkit-gradient(linear, left top, right top, from(#3e2bce), color-stop(100%, #2dd3aa), color-stop(100%, #2dd3aa), to(#2dd3aa));
                    background: -o-linear-gradient(left, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
                    background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e2bce', endColorstr='#2dd3aa', GradientType=1);
                }
            }
        }
    }

    &:hover {
        .sw-advisor-overlay-content {
            opacity: 0.9;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }
}

// @include breakpoints (small) {
//     .Member {
//         width: calc(100% - 25px);
//     }
// }

// @include breakpoints (medium) {
//     .Member {
//         width: calc(50% - 25px);
//     }
// }

// @include breakpoints (large) {
//     .Member {
//         width: calc(33% - 25px);
//     }
// }

// @include breakpoints (x-large) {
//     .Member {
//         width: calc(25% - 25px);
//     }
// }