@import '../../../public/scss/variable.scss';

.MemberList {
    position: relative;
    margin-top: 25rem;
    width: 100%;
    min-height: 50rem;
    height: auto;
    margin: 0 auto;
    padding-top: 14rem;

    .sw-header-wrapper {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        width: 92%;
        margin: 0 auto;

        .sw-label-wrapper {
            width: 30%;
            .sw-member-list-label {
                text-align: left;
                font-family: $secondary-font;
                font-size: 5rem;
                font-weight: 700;
                line-height: 4rem;
                color: #000000;
                letter-spacing: -.5rem;
                margin-bottom: .5rem;
            }
        
            .sw-member-list-sub-label {
                font-family: $primary-font;
                color: $fresh-red;
                font-size: 1.7rem;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 2rem;
                letter-spacing: -.1rem;
            }
        }

        .sw-devider {
            width: 70%;
            border-bottom: 3px solid $fresh-red;
        }

    }

    .sw-advisor-label {
        width: 92%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10rem auto;
        justify-items: flex-end;
        align-items: flex-end;
        position: relative;

        .main-label {
            
            text-align: left;
            font-family: $secondary-font;
            font-size: 5rem;
            font-weight: 700;
            line-height: 4rem;
            color: #000000;
            letter-spacing: -.1rem;
            margin-bottom: .5rem;
            
        }

        .sub-label {
            font-family: $primary-font;
            color: $fresh-red;
            font-size: 1.7rem;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 2rem;
            letter-spacing: -.1rem;
        }

        &:before {
            content: '';
            background-color: #e9204f;
            height: 8rem;
            width: 2px;
            position: absolute;
            top: -30px;
            left: 50%;
        }
    }

    .sw-second-list {
        width: 92%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap ;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
        justify-items: center; 
    }
}